@grey: #3f3f3f;
@darkgrey: #333;
@green: #bcd6c1;
@white: #f1f0ec;

@portrait: ~" (orientation: portrait)";
@landscape: ~" (orientation: landscape)";

@normal: "Baskerville W01 Regular_705699";
@medium: "Baskerville W01 Medium_705693";
@bold: "Avenir Next LT W01 Bold";
@dos: "PIXymbolsDOSscreenW00-R";

.transform(@args) {
    -ms-transform: @args;
    -webkit-transform: @args;
    -moz-transform: @args;
    transform: @args;
}

.translate(@x,@y){
    .transform(translate(@x,@y));
}

.center(@top:50%, @left:50%) {
  position: absolute;
  top:@top;
  left:@left;
  .translate(-50%,-50%);
}

// hide player button when using ios player hack
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    //pointer-events: none;
    width: 5px;
}

html {
  font-family: @normal;
  color:white;
  line-height: 1.5;
  // letter-spacing: 0.1em;
  /* image-rendering: pixelated; */
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  font-size: 10px; //min font-size

  // breakpoint at which font size become less than min font-size
  // font-size (10) / ( number of viewport units (1.25) / 100 )
  @media (min-width: 800px){
    font-size: 1.25vw; // 16px at 1280w
  }

  // breakpoint at which font size become higher than max fontsize
  // font-size (24) / ( number of viewport units (1.25) / 100 )
  @media (min-width: 1920px){
    font-size: 24px; //max font-size
  }
}

body {
  transition: opacity 1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  &:hover {
    color: @green;
  }
}
h1{
  font-family:@bold;
  font-size: 1.2em;
  letter-spacing: 0.10em;
  font-weight: normal;
  line-height: normal;
  margin:0;
}
h2 {
  font-family: @bold;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.10em;
  line-height: normal;
}

h3 {
  font-family: @bold;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0.05em;
}

p {
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

*:focus {
  outline: none;
}

section {
  > h2 {
    text-align: center;
  }
}

.main::before {
  content: ' ';
  position: fixed; // instead of background-attachment
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('images/bak1.svg');
  background-repeat: repeat;
  background-size: 300px;
  will-change: transform; // creates a new paint layer
  z-index: -1;
}

#logo {
  position: fixed;
  height: 150px;
  width: 150px;
  top: 0px;
  left: 20px;
  z-index: 20;
  cursor: pointer;
}

.introText {
  position:absolute;

  top: 0;
  height:100%;
  width: 25%;
  min-width: 200px;
  margin-left: 15%;
  margin-top: 25vh;
  text-align: left;
  letter-spacing: 0.05em;
  line-height: 1.4;
  pointer-events: none;

  p {
    font-family: @medium;
    margin:1em 0;
  }

}

.downArrow {
  position:absolute;
  width:3em;
  height: 3em;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  cursor: pointer;

  svg {
    animation-duration: 2s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 0;
    left:0;

  }

  @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }
}
.imageblock {
  .playicon {
    height: 25%;
    .center();
    pointer-events: none;
    fill: @green;
  }
}

.block {
  margin: 4em 0 0 0;
  box-shadow: 0px 0px 19px 1px #666666;
  background-color: @grey;
}

.textblock {
  margin: 2em 1em;
  h2 {
    display: inline-block;
    margin-right: 0.5em;
  }
  h3 {
    display: inline-block;
    font-family: @normal;
  }
  p > p {
    margin-top: 1em;
    width:60%;
  }

}

.imageblock {
  >h1 {
    text-align: center;
  }
}

.leafcell a {
  transition: opacity 0.3s;

  &#source {
    position: fixed;
    background: url('/icons/download.svg');
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 6666;
  }
}


#contacts, #about, #follow {
  text-align: center;

  >.content{
    padding:4em 0 6em 0;
    width:50%;
    margin:0 auto;

    >h2 {
      margin-top: 0;
      font-size: 2em;
    }

    >p:not(:last-child) {
      margin-bottom: 2rem;
    }

    @media (max-width: 800px){
      width:80%
    }
  }
}
#contacts {
  background-color: @green;
  color: @darkgrey;
  a:hover {
    color:@white;
  }
  >.content {
    >.list{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      >.contact {
        width:50%;
        margin-bottom: 4em;
        text-align: center;
        overflow: hidden;

        &:nth-last-child(-n+2){
          margin-bottom: 0;
        }
      }
    }
  }
}

#follow {
  border-bottom: 1px solid grey;
  >.content{
    padding-bottom: 4em;
  }
}

.case {
  background-color: #3f3f3f;
}

.casegrid {
  background-color: #0000FF;
  background-attachment: fixed;
  padding: 6rem 2rem 14rem 2rem;
  [ref=grid]{
    overflow: visible!important;
    .leafcell{
      overflow:visible!important;
    }
  }
  .center {
    width:300px;
    margin: 0 auto;
  }
  h1 {
    font-family: @dos;
    font-size: 3em;
    text-align: left;
    margin-bottom: 5.5rem;
    &.glitch {
      text-align: center;
      position: relative;
    }
    &.glitch::before,
    &.glitch::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.glitch::before {
      clip: rect(44px, 450px, 56px, 0);
      left: 2px;
      text-shadow: -1px 0 red;
      /* important: opaque background masks the original */
      background: blue;
      animation: glitch-anim-1 1s infinite linear alternate-reverse;
    }

    &.glitch::after {
      clip: rect(44px, 450px, 56px, 0);
      left: -2px;
      text-shadow: -1px 0 green;

      /* important: opaque background masks the original */
      background: blue;
      animation: glitch-anim-2 1s infinite linear alternate-reverse;
    }
  }

  @keyframes glitch-anim-1 {
    0% {
      clip: rect(70px, 450px, 76px, 0);
    }
    20% {
      clip: rect(29px, 450px, 16px, 0);
    }
    40% {
      clip: rect(76px, 450px, 65px, 0);
    }
    60% {
      clip: rect(42px, 450px, 10px, 0);
    }
    80% {
      clip: rect(15px, 450px, 56px, 0);
    }
    100% {
      clip: rect(53px, 450px, 4px, 0);
    }
  }

  @keyframes glitch-anim-2 {
    0% {
      clip: rect(43px, 450px, 24px, 0);
    }
    20% {
      clip: rect(12px, 450px, 1px, 0);
    }
    40% {
      clip: rect(56px, 450px, 76px, 0);
    }
    60% {
      clip: rect(23px, 450px, 43px, 0);
    }
    80% {
      clip: rect(74px, 450px, 2px, 0);
    }
    100% {
      clip: rect(2px, 450px, 76px, 0);
    }
  }

  .caselink {
    position: relative;
    text-align: center;
    font-family: @dos;
    width: 100%;
    // background:linear-gradient(to top, fade(#000,70%), fade(#000,0%)); //BCD6C1
    white-space: nowrap;
    // text-shadow: black 0 0 0.2em;
    padding: 0.8em;
    margin:2em 0;
    font-size: 1rem;
    pointer-events: none;

    >h2{
      font-family: @dos;
      text-transform: uppercase;
      font-size: 2em;
      letter-spacing: 0.08em;
    }
    >h3{
      font-family: @dos;
      font-size: 1em;
    }
  }

}

.menu {
  position: fixed;
  z-index:666;
  padding:32px 20px 20px 20px;
  top:0;right:0;
  width: 30px;
  height: 30px;
  box-sizing: content-box;
  cursor: pointer;
  //background: red;

  > .btn {
    position: absolute;
    width: 30px;
    height: 30px;
    transition: transform 0.3s 0.3s, opacity 0s 0.3s;

    > .s {
      transition: transform 0.3s;
      position: absolute;
      background: white;
      height: 1px;
      width: 50%;
      top:50%;
      margin-top: 1px;
    }
    > .l {
      left:0;
      transform-origin: right center;
    }
    > .r {
      left:50%;
      transform-origin: left center;
    }
    &.t {
      transform: translateY(-15px);
    }
    &.m > .s {
      width: 100%;
      left:0;
      transform-origin: center center;
    }
    &.b {
      transform: translateY(15px);
    }
  }

  &.active, &.lightbox {
    > .btn {
      transition: transform 0.3s, opacity 0s 0.3s;
    }
    > .btn > .s {
      transition: transform 0.3s 0.3s;
    }
  }

  &.active {

    >.btn.t {
      transform: translateY(0);
      cursor: w-resize;
      >.s {
        transform: rotate(45deg);
      }
    }
    >.btn.m {
      opacity: 0;
    }
    >.btn.b {
      transform: translateY(0);
      >.s {
        transform: rotate(-45deg);
      }
    }
  }

  &.lightbox {

    > .btn.t {
      transform: translateY(0);
      cursor: url(/icons/left.png) 10 0, pointer;
      > .l {
        transform: translateX(-45%) rotate(135deg);
      }
      > .r {
        transform: translateX(-45%) rotate(45deg);
      }
    }

    > .btn.m {
      transform: translateY(100%);
      cursor: url(/icons/cross.png) 10 10, pointer;
      > .l {
        transform: rotate(45deg);
      }
      > .r {
        transform: rotate(-45deg);
      }
    }

    > .btn.b {
      transform: translateY(200%);
      cursor: url(/icons/right.png) 10 20, pointer;
      > .l {
        transform: translateX(45%) rotate(45deg);
      }
      > .r {
        transform: translateX(45%) rotate(135deg);
      }
    }
  }

  > .content {
    position:fixed;
    display:flex;
    justify-content: center;
    flex-direction: column;
    // padding: 5rem 2rem 2rem 2rem;
    top:0;right:0;bottom:0;left:0;
    color:@grey;
    background-color: fade(@green, 90%);
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    font-family: @normal;
    letter-spacing: 0.10em;
    > * {
      cursor: pointer;
    }
    >div{
      align-items: center;
      justify-content: center;
      >a{
        display: block;
        height: 4em;
        font-size: 2em;
        line-height: 4em;
        text-align: center;
        user-select:none;
        transition: color 0.3s, background-color 0.3s;
        &:hover{
          background-color: @grey;
          color: @green;
        }
      }
    }
  }
  &.active > .content {
    opacity: 1;
    pointer-events: all;
  }
}

footer {
  >h2 {
    margin:0 0 1em 0;
    text-align: center;
  }
  >div {
    text-align: center;

    > a {
      &:not(:last-child){
        margin-right: 4em;
      }
    }
  }
}


#infoBlock {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding:2em 4em 2em 1em;
  border-bottom:1px solid grey;
  h1 {
    letter-spacing: 0.1em;
  }

  h2 {
    font-family:@normal;
    letter-spacing: 0.05em;
  }

  b {
    font-family: @bold;
    letter-spacing: 0.05em;
    font-weight: normal;
  }
}

a:hover {
  svg {
    .cls-1{
      fill: @green;
    }
  }
}
