
/*
font-family:'Futura Round W01 Book';
font-family:'Futura Round W01 Medium';
font-family:'Baskerville W01 Italic';
font-family:'Baskerville W01 Medium_705693';
font-family:'Baskerville W01 Bold_705687';
*/

html {
  font-size: 4vh;
  color:white;
  font-family:"Baskerville W01 Regular_705699";

}
html, body {
  height:100%;
  margin:0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin:0;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content {
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding:1em 2em;
  text-align: center;

  p {
    max-width: 50vw;
  }
}
